* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

$navBarBackground: #2a2076;
$navBarImage : url();
$landingBackground: #b36565;
$landingImage : url();
$projectsBackground: #1f1f1f9b;
$projectsImage : url();
$contactBackground: #756a6a;
$contactImage : url();

nav {
  background: $navBarBackground;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 80px;
  h1::first-letter {
    color: red;
  }
  .navItems {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    .navItem {
      border: none;
      border-radius: 5px;
      padding: 15px;
      font-size: large;
      font-family: "Titan One", sans-serif;
      color: black;
      text-decoration: none;
      font-size: 20px;
    }
    .active::first-letter {
      color: red;
    }
  }
  .contactComponents {
    display: flex;
    gap: 30px;
    .contactComponent {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        svg {
          width: 50px;
          height: 50px;
          color: black;
        }
      }
      a:active {
        color: black;
        text-decoration: none;
        svg {
          color: black;
        }
      }
    }
  }
}
.landingPage {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background: $landingBackground;
  gap: 5vh;
}

.projectsPage {
  overflow-x: hidden;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  background: $projectsBackground;
  gap: 40px;
  h1 {
    text-decoration: underline;
  }
  .projects {
    display: flex;
  }
  .frontendMentor {
    display: flex;
  }
  .arduino {
    display: flex;
  }
}
.projectCard {
  width: fit-content;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  .description {
    text-align: center;
    width: 80%;
  }
  .languages {
    display: flex;
    flex-direction: column;
  }
  .imagewrapper {
    width: 180px;
    height: 180px;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .imageTags {
    .tags {
      .projectIcon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
.imageTags {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.projectIcon svg,
.projectIcon img {
  width: 40px;
  height: 40px;
}

.contactPage {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  background: $contactBackground;
  gap: 5vh;
}
