* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}
$pallet1a: #222222;
$pallet1b: #ffffff;
$pallet1c: #4b4e6d;
$pallet1d: #84dcc6;
$pallet1e: #95a3b3;

$pallet2a: #011627;
$pallet2b: #010b14;
$pallet2c: #074c88;
$pallet2d: #8bc2f9;
$pallet2e: #1b74c1;

$navBarBackground: #074c8800;
$navBarImage: url();
$landingBackground: #3c3c3c;
$landingImage: url();
$projectsBackground: #1f1f1f9b;
$projectsImage: url();
$contactBackground: #756a6a;
$contactImage: url();

$text1: #924c98;
$text2: #29212a;
$text3: #000000;
$text4: #29212a;
$text5: #ffffff;

$navTopBottom: #8c8c8c;
$navTopBottomBorder: #ff0000;

$textAccent: #4b4e6d;
$textAccent2: #ff0000;

$background1: url("/public/backgrounds/a.svg");
$background2: url("/public/backgrounds/b.svg");

nav {
  background: $navBarBackground;
  // -----------
  // background-image: $background1;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}
.landingPage {
  background: $landingBackground;
  // -----------
  // background-image: $background2;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}
.projectsPage {
  background: $projectsBackground;
  // -----------
  // background-image: $background2;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}
.contactPage {
  background: $contactBackground;
  // -----------
  // background-image: $background1;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}


nav {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  h1 {
    color: $text1;
  }
  h1::first-letter {
    color: $textAccent;
  }
  .navItems {
    background: $navTopBottom;
    border-top: 2px solid $navTopBottomBorder; 
    border-left: 2px solid $navTopBottomBorder;
    border-right: 2px solid $navTopBottomBorder;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 550px;
    height: 60px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    .navItem {
      border: none;
      border-radius: 5px;
      padding: 15px;
      font-size: large;
      font-family: "Titan One", sans-serif;
      color: $text2;
      text-decoration: none;
      font-size: 20px;
    }
    .active{
    }
    .active::first-letter {
      color: $textAccent2;
    }
    .navItem:hover::first-letter {
      color: $textAccent2;
    }


  }
  .contactComponents {
    box-shadow: #000000 0px 0px 20px;
    z-index: 2;
    background: $navTopBottom;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: fixed;
    top: 0;
    height: 60px;
    width: 230px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 2px solid $navTopBottomBorder; 
    border-left: 2px solid $navTopBottomBorder;
    border-right: 2px solid $navTopBottomBorder;


    .contactComponent {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text1;
        svg {
          width: 50px;
          height: 50px;
          color: black;
        }

        svg:hover{
          fill: $textAccent2;
          transform: scale(1.2);
          transition: all 0.5s ease-in-out;
        }
      }
      a:active {
        text-decoration: none;
        svg {
          color: black;
        }
      }
    }
  }
}


.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  span{
    color: red;
  }
  .main {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    .imageplaceholder {
      width: 400px;
      height: 400px;
      background: red;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
    .textplaceholder {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    h1 {
      text-align: left;
    }
    p {
      font-size: 20px;
    }
  }

  .tags{
 display:flex;
 width: 420px;
 margin-left: 20px;
 overflow-x: hidden;
 .tagGroup1, .tagGroup2{
  display:flex;
 }
    .projectIcon{
      display:flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      padding-left: 10px;
      padding-right: 10px;
    }

    img, svg {
      width: 50px;
      height: 50px;
    }
  }
}

.projects, .arduino, .frontendMentor{
  width: 90vw;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .projectCard{
  border-radius: 15px;
  box-shadow: #1f1f1f9b 0px 5px 15px;
  }
}

.projectsPage {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .projectTab {
    h1{
      font-size: 50px;
      text-align: center;
      padding: 30px;
      
      margin-top: 40px;
    }
    .projects {
      display: flex;
    }
    .arduino {
      display: flex;
    }
    .frontendMentor {
      display: flex;
      margin-bottom: 40px;
    }
  }
}
.projectCard {
  width:  350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: calc(fit-content + 10px );
  a h2 {
    color: $text3;
    font-size: 30px;
    text-align: center;
  }
  .description {
    color: $text4;
    text-align: center;
    width: 80%;
  }
  .imagewrapper {
    width: 180px;
    height: 180px;
  }
  .languages {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .imageTags {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    
    .tags {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      .projectIcon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .projectIcon svg,
      .projectIcon img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.contactPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subHeader{
  overflow-y: hidden;
  height: 35px;
  h2{
    font-size: 30px;
  }
  h2::first-letter{
    color: red;
  }
}








.fadeIn{
  animation: fadeIn 1s ease-in-out;
}

.slideRight {
  animation: slideRight 600ms ease-in-out;
}
.slideLeft {
  animation: slideLeft 600ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.scrollLeft{
  animation: scrollLeft 16s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  
}


@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 630px) {
  div.navItems{
    width: 100%;
    border-radius: 0;
  }
}