* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  background: rgba(7, 76, 136, 0);
}

.landingPage {
  background: #3c3c3c;
}

.projectsPage {
  background: rgba(31, 31, 31, 0.6078431373);
}

.contactPage {
  background: #756a6a;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
nav h1 {
  color: #924c98;
}
nav h1::first-letter {
  color: #4b4e6d;
}
nav .navItems {
  background: #8c8c8c;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 550px;
  height: 60px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
nav .navItems .navItem {
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: large;
  font-family: "Titan One", sans-serif;
  color: #29212a;
  text-decoration: none;
  font-size: 20px;
}
nav .navItems .active {
  transform: scale(1.2);
  transform-origin: center;
}
nav .navItems .active::first-letter {
  color: #ff0000;
}
nav .navItems .navItem:hover::first-letter {
  color: #ff0000;
}
nav .contactComponents {
  background: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  top: 0;
  height: 60px;
  width: 160px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  border-right: 2px solid #ff0000;
}
nav .contactComponents .contactComponent a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #924c98;
}
nav .contactComponents .contactComponent a svg {
  width: 50px;
  height: 50px;
  color: black;
}
nav .contactComponents .contactComponent a svg:hover {
  fill: #ff0000;
}
nav .contactComponents .contactComponent a:active {
  text-decoration: none;
}
nav .contactComponents .contactComponent a:active svg {
  color: black;
}

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.landingPage .main {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
}
.landingPage .main .imageplaceholder {
  width: 400px;
  height: 400px;
  background: rgb(28, 90, 28);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.landingPage .main .textplaceholder {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.landingPage .main h1 {
  text-align: left;
}
.landingPage .main p {
  font-size: 16px;
}
.landingPage .tags {
  display: flex;
  width: 580px;
  overflow-x: hidden;
}
.landingPage .tags .tagGroup1, .landingPage .tags .tagGroup2 {
  display: flex;
}
.landingPage .tags .projectIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
.landingPage .tags img, .landingPage .tags svg {
  width: 50px;
  height: 50px;
}

.projectsPage {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsPage .projectTab .projects {
  display: flex;
}
.projectsPage .projectTab .arduino {
  display: flex;
}
.projectsPage .projectTab .frontendMentor {
  display: flex;
}

.projectCard {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.projectCard a h2 {
  color: #000000;
}
.projectCard .description {
  color: #29212a;
  text-align: center;
  width: 80%;
}
.projectCard .imagewrapper {
  width: 180px;
  height: 180px;
}
.projectCard .languages {
  display: flex;
  flex-direction: column;
}
.projectCard .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.projectCard .imageTags {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.projectCard .imageTags .tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.projectCard .imageTags .tags .projectIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.projectCard .imageTags .tags .projectIcon svg,
.projectCard .imageTags .tags .projectIcon img {
  width: 40px;
  height: 40px;
}

.contactPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.slideRight {
  animation: slideRight 600ms ease-in-out;
}

.slideLeft {
  animation: slideLeft 600ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.scrollLeft {
  animation: scrollLeft 16s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}/*# sourceMappingURL=App.css.map */