* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

.landingPage {
  background-image: url("/public/backgrounds/b.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectsPage {
  background-image: url("/public/backgrounds/b.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactPage {
  background-image: url("/public/backgrounds/b.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
nav h1 {
  color: #924c98;
}
nav h1::first-letter {
  color: #4b4e6d;
}
nav .navItems {
  background: #297ea6;
  border-top: 2px solid #a5b8c5;
  border-left: 2px solid #a5b8c5;
  border-right: 2px solid #a5b8c5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 550px;
  height: 60px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
nav .navItems .navItem {
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: large;
  font-family: "Titan One", sans-serif;
  color: #29212a;
  text-decoration: none;
  font-size: 20px;
}
nav .navItems .active::first-letter {
  color: rgb(0, 0, 0);
}
nav .navItems .navItem:hover::first-letter {
  color: rgb(51, 54, 74);
}
nav .languageSwitcher {
  position: fixed;
  margin: 20px;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}
nav .languageSwitcher .languageIcon {
  width: 40px;
  height: 40px;
  border-radius: 55px;
}
nav .languageSwitcher:hover {
  cursor: pointer;
  opacity: 1;
}
nav .contactComponents {
  box-shadow: #000000 0px 0px 20px;
  z-index: 2;
  background: #297ea6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  top: 0;
  height: 60px;
  width: 230px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 2px solid #a5b8c5;
  border-left: 2px solid #a5b8c5;
  border-right: 2px solid #a5b8c5;
}
nav .contactComponents .contactComponent a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #924c98;
}
nav .contactComponents .contactComponent a svg {
  width: 50px;
  height: 50px;
  color: black;
}
nav .contactComponents .contactComponent a svg:hover {
  fill: rgb(51, 54, 74);
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
nav .contactComponents .contactComponent a:active {
  text-decoration: none;
}
nav .contactComponents .contactComponent a:active svg {
  color: black;
}

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.landingPage span {
  color: red;
}
.landingPage .main {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.landingPage .main .imageplaceholder {
  width: 400px;
  height: 478px;
  background: red;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: #000000 0px 0px 20px;
}
.landingPage .main .textplaceholder {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(39, 114, 151, 0.6705882353);
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: #000000 0px 0px 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.landingPage .main .subHeader {
  margin-top: 8px;
  padding-left: 30px;
  padding-right: 20px;
}
.landingPage .main h1 {
  font-size: 36px;
  text-align: left;
  padding-left: 20px;
  padding-right: 12px;
}
.landingPage .main .description {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.landingPage .main .subDescription {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.landingPage .tags {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.landingPage .tags .tagGroup1, .landingPage .tags .tagGroup2 {
  display: flex;
}
.landingPage .tags .projectIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}
.landingPage .tags img, .landingPage .tags svg {
  width: 50px;
  height: 50px;
}

.projects, .arduino, .frontendMentor {
  width: 90vw;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projectCard, .arduino .projectCard, .frontendMentor .projectCard {
  border-radius: 15px;
  box-shadow: rgba(31, 31, 31, 0.6078431373) 0px 5px 15px;
}

.projectsPage {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectsPage .projectTab h1 {
  font-size: 50px;
  text-align: center;
  padding: 30px;
  margin-top: 40px;
  text-shadow: white 0px 0px 5px;
}
.projectsPage .projectTab .projects {
  display: flex;
}
.projectsPage .projectTab .arduino {
  display: flex;
  margin-bottom: 40px;
}
.projectsPage .projectTab .frontendMentor {
  display: flex;
}

.projectCard {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: calc(-moz-fit-content + 10px);
  height: calc(fit-content + 10px);
  background: rgba(165, 147, 147, 0.695);
}
.projectCard a h2 {
  color: #000000;
  font-size: 30px;
  text-align: center;
  padding-top: 8px;
}
.projectCard .description {
  color: #29212a;
  text-align: center;
  width: 80%;
}
.projectCard .imagewrapper {
  width: 180px;
  height: 180px;
}
.projectCard .languages {
  display: flex;
  flex-direction: column;
}
.projectCard .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.projectCard .imageTags {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.projectCard .imageTags .tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.projectCard .imageTags .tags .projectIcon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}
.projectCard .imageTags .tags .projectIcon svg,
.projectCard .imageTags .tags .projectIcon img {
  width: 40px;
  height: 40px;
}

.contactPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subHeader {
  overflow-y: hidden;
  height: 35px;
}
.subHeader h2 {
  font-size: 30px;
}
.subHeader h2::first-letter {
  color: rgb(123, 123, 156);
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.slideRight {
  animation: slideRight 600ms ease-in-out;
}

.slideLeft {
  animation: slideLeft 600ms ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
.fadeOut {
  animation: fadeOut 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.scrollLeft {
  animation: scrollLeft 16s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 630px) {
  div.navItems {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    border: none;
    border-radius: 0;
  }
}/*# sourceMappingURL=App.css.map */